<div class="container-fluid">
  <div class="row  mt-4">
    <div class="col-3 p-1">
      <div class="fixed-profile">
          <div class="user_h1"><h1><center>User's Profile</center></h1></div>


          <div class="user_page">
            <% if @user.photo.present? %>
                  <%= link_to cl_image_tag(@user.photo.key, class: "card-img-top", alt: "User Avatar"), user_path(@user) %>
                <% else %>
                  <%= link_to image_tag("default_avatar.png", class: "card-img-top", alt: "Default Avatar"), user_path(@user) %>
                <% end %>
            <div class="card-product-infos">
          <h2><strong>✉: </strong> <%= @user.email %></h2>
          <h2><strong>First Name:</strong> <%= @user.first_name %></h2>
          <h2><strong>Last Name:</strong> <%= @user.last_name %></h2>
          <h2><strong>Description:</strong> <%= @user.description %></h2>
            </div>
            </div>
          </div>
    </div>

    <div class="col-9 p-1">
        <div class="user_banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= asset_path('bookings_index_user_page.jpg') %>');">
          <div class="container">
            <center><h1>My Bookings Page</h1>
            <p>Review your lessons, booked lessons, and statuses.</p></center>
          </div>
        </div>






        <% if @user.lessons.present? %>
        <div class="user_h1"><h1><center>User's Lessons</center></h1></div>
          <% @user.lessons.each do |lesson| %>
            <div class="card-trip">
            <div class="card-top">
                <% if lesson.photos.present? %>
                  <%= cl_image_tag(lesson.photos.first.key, class: "card-top-img") %>
                <% else %>
                  <%= image_tag("categories_default/#{lesson.category.downcase}.jpg", class: "card-top-img", alt: "Default Avatar") %>
                <% end %>

              <div class="card-trip-infos">
                <div>
                  <a href="<%= lesson_path(lesson) %>">
                    <h2><%= lesson.title %></h2>
                  </a>
                  <p><%= lesson.description %></p>
                  <h3>Category: <%= lesson.category %></h3>
                <h3 class="card-trip-pricing">Price: <%= number_to_currency(lesson.price, {unit: '$', precision: 0}) %>/per hour</h3>
                </div>

                </div>

            <div class="card-footer bg-transparent border-primary">
            <% if lesson.user == current_user %>
                <%= link_to "Edit This Lesson", edit_lesson_path(lesson), class: "btn btn-outline-p rounded-pill mb-2" %>
                <%= link_to "Cancel This Lesson?", lesson_path(lesson), class: "btn btn-outline-p rounded-pill mb-2", data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to cancel?"} %>
              <% end %>
                <%= link_to "View This Lesson", lesson_path(lesson), class: "btn btn-outline-p rounded-pill mb-2" %>
                </div>
                </div>



              <div class="container">
                <div class="p-4 bookings-container overflow-scroll">
                  <% lesson.bookings.order(created_at: :desc).each do |booking| %>
                    <div class="user-card-body col-3">

                        <% if @user.photo.present? %>
                          <%= link_to cl_image_tag(booking.user.photo.key, class: "rounded-circle", alt: "User Avatar"), booking_path(booking) %>
                        <% else %>
                          <%= link_to image_tag("default_avatar.png", class: "rounded-circle", alt: "Default Avatar"), booking_path(booking) %>
                        <% end %>
                            <%# <h3 class="name"><%= booking.lesson.title %></h3>
                            <p> <strong> Start Date:</strong> <%= booking.start_date %></p>
                            <p> <strong> End Date:</strong> <%= booking.end_date %></p>
                            <p> <strong> Status:</strong> <%= booking.status %></p>

                            <% if booking.lesson.user == current_user %>

                              <% if booking.status == "pending" %>
                              <div>
                                <%= link_to 'Accept', booking_accept_path(booking), class: "btn btn-success" %>
                                <%= link_to 'Decline', booking_decline_path(booking), class: "btn btn-danger" %>
                              </div>
                              <% end %>
                              <% if booking.lesson.user == current_user && booking.status != "pending" %>
                              <%= link_to "Cancel Booking", booking_path(booking), class: "btn btn-outline-bof", data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to cancel?"} %>
                              <% end %>
                            <% end %>

                        </div>
                          <% end %>
                          </div>
                      </div>
                        </div>
          <% end %>

        <% end %>


        <div class="user_h1"><h1><center>My Booked Lessons</h1></center></div>
          <% @bookings.each do |booking| %>
            <div class="booked-lessons">
                <% if booking.lesson.photos.present? %>
                  <%= link_to cl_image_tag(booking.lesson.photos.first.key, class: "card-img-top"), lesson_path(booking.lesson) %>
                <% else %>
                  <%= link_to image_tag("categories_default/#{booking.lesson.category.downcase}.jpg", class: "card-img-top", alt: "Default Avatar"), lesson_path(booking.lesson) %>
                <% end %>
              <div class="booked-lessons-infos">
                <h2><%= booking.lesson.title %></h2>
                <h4><%= booking.start_date %></h4>
                <h4><%= booking.end_date %></h4>
                <h4><%= booking.status %></h4>
                <p> <% if booking.user == current_user %>
                    <%= link_to "Cancel Booking", booking_path(booking), class: "btn btn-outline-bof", data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to cancel?"} %>
                    <% end %></p>
              </div>
            </div>
          <% end %>
          </div>
  </div>
</div>
