<div class="user_banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= asset_path('bookings_index_user_page.jpg') %>');">
  <div class="container">
    <center><h1>My Bookings Page</h1>
    <p>Review your lessons, booked lessons, and statuses.</p></center>
  </div>
</div>



<div class="user_h1"><h1>User's Profile</h1></div>


<div class="user_page">
  <% if @user.photo.present? %>
        <%= link_to cl_image_tag(@user.photo.key, class: "card-img-top", alt: "User Avatar"), user_path(@user) %>
      <% else %>
        <%= link_to image_tag("default_avatar.png", class: "card-img-top", alt: "Default Avatar"), user_path(@user) %>
      <% end %>
  <div class="card-product-infos">
<h2><strong>Email:</strong> <%= @user.email %></h2>
<h2><strong>First Name:</strong> <%= @user.first_name %></h2>
<h2><strong>Last Name:</strong> <%= @user.last_name %></h2>
<h2><strong>Description:</strong> <%= @user.description %></h2>
  </div>
</div>


<% if @user.lessons.present? %>
<div class="user_h1"><h1>User's Lessons they are teaching</h1></div>
  <% @user.lessons.each do |lesson| %>
    <a href="<%= lesson_path(lesson) %>">

    <div class="card-category">
    <h1><%= lesson.title %></h1>
    <h2>category <%= lesson.category %></h2>
    <h2>description <%= lesson.description %></h2>
    <h2>price <%= lesson.price %></h2>
    <h2>user <%= lesson.user.email %></h2>
    <%= link_to "Cancel lesson?", lesson_path(lesson), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to cancel?"} %>
    </div>
    </a>
      <div class="user_h1"><h1>above lessons bookings statuses</h1></div>
    <p>
      <div class="container">
        <div class="row people">
          <% lesson.bookings.each do |booking| %>
            <div class="card-body col-3">
              <div>
                <% if @user.photo.present? %>
                  <%= link_to cl_image_tag(@user.photo.key, class: "rounded-circle", alt: "User Avatar"), booking_path(booking) %>
                <% else %>
                  <%= link_to image_tag("default_avatar.png", class: "rounded-circle", alt: "Default Avatar"), booking_path(booking) %>
                <% end %>
                    <h3 class="name"><%= booking.lesson.title %></h3>
                    <p> <strong> Start Date:</strong> <%= booking.start_date %></p>
                    <p> <strong> End Date:</strong> <%= booking.end_date %></p>
                    <p> <strong> Status:</strong> <%= booking.status %></p>
                    <% if booking.lesson.user == current_user %>
                      <% if booking.status == "pending" %>
                        <%= link_to 'Accept', booking_accept_path(booking), class: "btn btn-success" %>
                        <%= link_to 'Decline', booking_decline_path(booking), class: "btn btn-danger position-absolute" %>
                      <% end %>
                      <p> <% if booking.lesson.user == current_user && booking.status != "pending" %>
                      <%= link_to "Cancel booking?", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to cancel?"} %>
                      <% end %></p>
                    <% end %>
                  </div>
                </div>
                  <% end %>
                  </div>
              </div>
  <% end %>
<% end %>


<div class="user_h1"><h1>My Booked Lessons</h1></div>
  <% @user.bookings.each do |booking| %>
    <div class="booked-lessons">
      <% if @user.photo.present? %>
        <%= link_to cl_image_tag(@user.photo.key, class: "card-img-top", alt: "User Avatar"), user_path(@user) %>
      <% else %>
        <%= link_to image_tag("default_avatar.png", class: "card-img-top", alt: "Default Avatar"), user_path(@user) %>
      <% end %>
      <div class="booked-lessons-infos">
        <h2><%= booking.lesson.title %></h2>
        <p><%= booking.start_date %></p>
        <p><%= booking.end_date %></p>
        <p><%= booking.status %></p>
        <p> <% if booking.user == current_user %>
            <%= link_to "Cancel booking?", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to cancel?"} %>
            <% end %></p>
      </div>
    </div>
    </div>
  <% end %>
