<div class="card" style="width: 18rem;">
      <% if lesson.photos.present? %>
        <%= cl_image_tag(lesson.photos.first.key, class: "card-img-top") %>
      <% else %>
        <%= image_tag("categories_default/#{lesson.category.downcase}.jpg", class: "card-img-top", alt: "Default Avatar") %>
      <% end %>
      <div class="card-body">
        <div class="lesson_user_avatar">
          <% if lesson.user.photo.present? %>
            <%= cl_image_tag(lesson.user.photo.key, class: "avatar", alt: "User Avatar") %>
          <% else %>
            <%= image_tag("default_avatar.png", class: "avatar", alt: "Default Avatar") %>
          <% end %>
        </div>
        <h5 class="card-title"><b><%= lesson.title %></b></h5>
        <p class="card-text">Category: <%= lesson.category %></p>
        <p class="card-text">Description: <%= lesson.description %></p>
        <p class="card-text">Price: <%= number_to_currency(lesson.price, {unit: '$', precision: 0}) %></p>
        <p class="card-text">User: <%= lesson.user.email %></p>
        <%= link_to "Go to Lesson", lesson_path(lesson), class: "btn btn-outline-p rounded-pill" %>
      </div>
    </div>
