<h1>Welcome to Study-Sync!</h1>
<% @lessons.each do |lesson| %>
<a href="<%= lesson_path(lesson) %>">
          <% if lesson.user.photo.present? %>
          <%= cl_image_tag(lesson.user.photo.key, class: "avatar", alt: "User Avatar") %>
          <% else %>
          <%= image_tag("default_avatar.png", class: "avatar", alt: "Default Avatar") %>
          <% end %>
<div class="card-category">
<h1><%= lesson.title %></h1>
<h2>category <%= lesson.category %></h2>
<h2>description <%= lesson.description %></h2>
<h2>price <%= lesson.price %></h2>
<h2>user <%= lesson.user.email %></h2>
</div>
</a>
<% end %>
<%= link_to "New Lesson", new_lesson_path, class: "nav-button col-12"%>
