<!-- Banner Section -->
<div class="banner">
  <%= image_tag('banner_image.jpg', alt: "Banner Image", class: "banner-image") %>
</div>

<div class="search-bar">
<div class="row justify-content-center">
  <div class="col-8 my-3 text-center">
    <%= form_with url: lessons_path, method: :get, class: "d-flex justify-content-center align-items-center" do %>
      <%= text_field_tag :query, params[:query], class: "form-control form-control-lg me-2", placeholder: "Type a keyword" %>
      <%= submit_tag "Search", name: "", class: "btn btn-light btn-lg" %>
    <% end %>
  </div>
</div>
</div>

<div class="categories-container">
  <div class="categories text-center">
    <h1>CATEGORIES</h1>
    <ul class="d-flex justify-content-center list-inline">
      <li class="list-inline-item">
        <%= image_tag('programming.png', alt: "programming", class: "category-icon programming") %>
         <span class="category-name">PROGRAMMING</span>
      </li>
      <li class="list-inline-item">
        <%= image_tag('science-logo.png', alt: "science-logo", class: "category-icon science-logo") %>
         <span class="category-name">SCIENCE</span>
      </li>
      <li class="list-inline-item">
        <%= image_tag('mathematics-logo.png', alt: "mathematics-logo", class: "category-icon mathematics-logo") %>
         <span class="category-name">MATHEMATICS</span>
      </li>
      <li class="list-inline-item">
        <%= image_tag('music-logo.png', alt: "music-logo", class: "category-icon music-logo") %>
         <span class="category-name">MUSIC</span>
      </li>
      <li class="list-inline-item">
        <%= image_tag('foreign-languages.png', alt: "foreign-languages", class: "category-icon foreign-languages") %>
         <span class="category-name">FOREIGN LANGUAGES</span>
      </li>
    </ul>
  </div>
</div>

<div class="card-container">
  <% @lessons.each do |lesson| %>
    <div class="card" style="width: 18rem;">
      <% if lesson.user.photo.present? %>
        <%= cl_image_tag(lesson.user.photo.key, class: "card-img-top", alt: "User Avatar") %>
      <% else %>
        <%= image_tag("default_avatar.png", class: "card-img-top", alt: "Default Avatar") %>
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= lesson.title %></h5>
        <p class="card-text">Category: <%= lesson.category %></p>
        <p class="card-text">Description: <%= lesson.description %></p>
        <p class="card-text">Price: <%= lesson.price %></p>
        <p class="card-text">User: <%= lesson.user.email %></p>
        <a href="<%= lesson_path(lesson) %>" class="btn btn-primary">Go to Lesson</a>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "New Lesson", new_lesson_path, class: "nav-button col-12" %>
