<div class="lesson-container">
  <h1><b>Create a new lesson</b></h1>
  <%= simple_form_for @lesson do |f| %>
  <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.input :price %>
    <%= f.select :category, Lesson::CATEGORIES, { prompt: 'Select a category' }, class: 'form-control' %>
    <div class="button-row">
      <%= f.submit 'Submit', class: 'btn btn-outline-warning rounded-pill' %>
      <%= link_to 'Back to lessons', '/lessons', class: 'btn btn-outline-bof' %>
    </div>
  <% end %>
</div>
