<div class="show-page">
  <div class="card card-lesson text-center">
    <div class="card-header">
         <h1 class="card-title"><b><%= @lesson.title %></b></h1>
    </div>
    <div class="card-body-container d-flex">
      <% if @lesson.user.photo.present? %>
        <%= link_to cl_image_tag(@lesson.user.photo.key, class: "user-photo", alt: "User Avatar")%>
      <% else %>
        <%= link_to image_tag("default_avatar.png", class: "user-photo", alt: "Default Avatar") %>
      <% end %>
      <div class="card-body d-flex">
        <div class="text-content">
          <p class="card-text"><b>User:</b> <%= @lesson.user.email %></p>
          <p class="card-text"><b>Category:</b> <%= @lesson.category %></p>
          <p class="card-text"><b>Description:</b> <%= @lesson.description %></p>
        </div>
        <div class="price-content">
          <p class="card-text"><b>Price:</b> <%= @lesson.price %></p>
        </div>
        <% if @lesson.photos.present? %>
          <% @lesson.photos.each do |photo| %>
            <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, class: "img-thumbnail" %>
          <% end %>
        <% end %>
        <div class="btn-group" role="group">
      <%= link_to "Book this lesson", new_lesson_booking_path(@lesson), class: "btn btn-outline-warning rounded-pill" %>
      <%= link_to "Back to lessons", "/lessons", class: "btn btn-outline-bof rounded-pill" %>
      <% if @lesson.user == current_user %>
        <%= link_to "Edit this lesson", edit_lesson_path(@lesson), class: "btn btn-outline-warning rounded-pill" %>
      <% end %>
    </div>
      </div>
    </div>
    <div class="card-footer text-muted">
    </div>
  </div>

  <footer class="text-center text-lg-start" style="background-color: white;">
    <div class="container d-flex justify-content-center py-5">
      <button type="button" class="btn-sns btn-primary btn-lg btn-floating mx-2" style="background-color: #f4afaf;">
        <i class="fab fa-facebook-f"></i>
      </button>
      <button type="button" class="btn-sns btn-primary btn-lg btn-floating mx-2" style="background-color: #f4afaf;">
        <i class="fab fa-youtube"></i>
      </button>
      <button type="button" class="btn-sns btn-primary btn-lg btn-floating mx-2" style="background-color: #f4afaf;">
        <i class="fab fa-instagram"></i>
      </button>
      <button type="button" class="btn-sns btn-primary btn-lg btn-floating mx-2" style="background-color: #f4afaf;">
        <i class="fab fa-twitter"></i>
      </button>
    </div>

    <div class="text-center" style="background-color: white; color: black;">
      © 2024 Copyright: STUDYSYNC
    </div>
  </footer>
</div>
