<h1><%= @lesson.title %></h1>
<h2>category <%= @lesson.category %></h2>
<h2>description <%= @lesson.description %></h2>
<h2>price <%= @lesson.price %></h2>
<%= link_to "Back to lessons", "/lessons", class: "nav-button col-12"%>
