<h1><%= @lesson.title %></h1>
<h2>category <%= @lesson.category %></h2>
<h2>description <%= @lesson.description %></h2>
<h2>price <%= @lesson.price %></h2>
<h2>user <%= @lesson.user.email %></h2>
<%= link_to "Book this lesson", new_lesson_booking_path(@lesson)%>
<%= link_to "Back to lessons", "/lessons", class: "nav-button col-12"%>
<% if @lesson.user == current_user %>
  <%= link_to "Edit this lesson", edit_lesson_path(@lesson)%>
<% end %>
